@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Copperplate_Gothic_Bold_Regular";
  src: url("./fonts/Copperplate_Gothic_Bold_Regular.ttf");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "Hanora-Regular";
  src: url("./fonts/Hanora-Regular.otf");
}

body {
  font-family: "Copperplate_Gothic_Bold_Regular", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Courier New", Courier, monospace;
}

.bull-stand {
  font-family: "BullStand", sans-serif;
}
